@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    @{
        IEnumerable<WebApplicationDbFacadeBS5Template.Models.Admin.AnnouncementVM> announcements = ViewBag.Announcments;
        Html.RenderPartial("AnnouncementCarousel", announcements);
    }
</div>