@{
    ViewBag.Title = "Sandbox";
}
<div class="row py-2">
    <div class="col border-end pe-0" role="listbox" aria-labelledby="optionsTitle">
        <div class="options list-group list-group-flush border-start border-top border-bottom swing" role="presentation">
            <div id="optionsTitle" class="list-group-item">Options</div>
            <a href="#" role="option" data-value="1" aria-selected="false" class="list-group-item show">An item</a>
            <a href="#" role="option" data-value="2" aria-selected="false" class="list-group-item show">A second item</a>
            <a href="#" role="option" data-value="3" aria-selected="false" class="list-group-item show">A third item</a>
            <a href="#" role="option" data-value="4" aria-selected="false" class="list-group-item show">A fourth item</a>
            <a href="#" role="option" data-value="5" aria-selected="false" class="list-group-item show">And a fifth one</a>
        </div>
    </div>
    <div class="col ps-0" role="listbox" aria-labelledby="selectedTitle">
        <div class="selected list-group list-group-flush border-end border-top border-bottom swing" role="presentation">
            <div id="selectedTitle" class="list-group-item">Selected</div>
            <a href="#" role="option" data-value="1" aria-selected="false" class="list-group-item">An item</a>
            <a href="#" role="option" data-value="2" aria-selected="false" class="list-group-item">A second item</a>
            <a href="#" role="option" data-value="3" aria-selected="false" class="list-group-item">A third item</a>
            <a href="#" role="option" data-value="4" aria-selected="false" class="list-group-item">A fourth item</a>
            <a href="#" role="option" data-value="5" aria-selected="false" class="list-group-item">And a fifth one</a>
        </div>
    </div>
</div>
