@import "bootstrap/_functions.scss";
@import "bootstrap/_variables.scss";
@import "bootstrap/_mixins.scss";

$image-scale: ( xs: 2em, sm: 2.5em, md: 3em, lg: 4em, xl: 6em, xxl: 15em ) !default;
$image-root-path: "/Content/images/" !default;
$image-map: ( "logo": "logo.png" ) !default;

@each $name, $path in $image-map {
    @each $prefix, $scale in $image-scale {
        .image-#{$name}-#{$prefix} {
            background-image: url($image-root-path+$path);
            background-color: rgba(0,0,0,0);
            height: $scale;
            min-width: $scale;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            display: flex;
        }
    }
}
